body 
{
    background-color:lightcoral; 
    font-family: monospace;
}

.container 
{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.card 
{
    width: 250px;
    color: gray;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 2px 3px 10px lightcoral;
    transition: transform 0.2s;
    border:3px solid lightcoral;
    /* background-color:blue; */
    background-color:  rgb(16, 42, 51);
}

.card:hover 
{
    transform: scale(1.05);
    
}


.card img {
    width: 120px;       
    height: 120px;      
    border-radius: 50%; 
    object-fit: cover;  
    display: block;
    margin:auto;     
}

.name 
{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px;
}

.role 
{
    color: gray;
    margin-bottom: 10px;
}

.runs 
{
    font-size: 14px;
    margin-top: 10px;
}

.strike-rate 
{
    font-size: 14px;
    margin-top: 10px;
}

.wickets 
{
    font-size: 14px;
    margin-top: 10px;
}

.bar 
{
    width: 100%;
    height: 10px;
    background:black;
    border-radius: 5px;
    margin-top: 4px;
}

.bar-fill 
{
    height: 10px;
    background: #a4ec0a;
    border-radius: 5px;
}

.card 
{
    width: 300px;
    height: 380px;
}

table
{
    background-color:  rgb(8, 37, 47);
    border:3px solid #a4ec0a(21, 215, 215);
    width: 100%;
    height: 3px;
    color:grey;
    font-family: monospace;
    margin-bottom: -1px;
}